.grid-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  gap: 2px;
  width: 300px;
  height: 300px;
  background-image: url("noborder.JPG");
  background-size: 300px;
  background-repeat: no-repeat;
  padding: 1px;
  border: 0px;
  margin: 10% 10% 10% 10%;
}

.grid-item {
  background-color: black;
  width: 27px;
  height: 27px;
  color: white;
  margin: 0;
  border: 0;
  padding: 0;
  font-size: 20px;
}

.submit-button {
  color: white;
  background-color: Black;
  width: 100px;
  height: 50px;
  border-radius: 50%;
  font-size: 24px;
}
